<link
  rel="stylesheet"
  type="text/css"
  href="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"
/>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-section contact">
      <h3>Contato</h3>
      <ul class="contact-info">
        <li><i class="fa fa-phone"></i> (11) 96545-1841</li>
        <li><i class="fa fa-phone"></i> &#64;_natyvitor</li>
      </ul>
      <br />
      <h3>Endereço</h3>
      <ul class="contact-info">
        <li>
          <i class="fa fa-phone"></i> Rua Francisco Henriques, 14b - Jardim
          Santa Mônica, São Paulo-SP
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2024 Naty Vitor
    <br />
    Todos os direitos reservados.
  </div>
</footer>
