<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h3>Sobre</h3>
      <p style="color: #efb2c5">
        Meu nome é Naty Vitor. Sou especialista em lash design, extensão de
        cílios, micropigmentação (sobrancelhas, lábios e olhos), progressiva e
        definitiva marroquina, e BB glow.
      </p>
    </div>
    <div class="footer-section links">
      <h3>Links Úteis</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sobre Nós</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h3>Contato</h3>
      <ul class="contact-info">
        <li style="color: #efb2c5">
          <i class="fa fa-phone"></i> (11) 9 6545-1841
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2024 Naty Vitor & Fani Germano. Todos os direitos reservados.
  </div>
</footer>
