<app-header></app-header>
<div class="container">
  <a href="/" class="back-link">
    <img src="../../../assets/images/setaa2.png" alt="Seta para voltar" />
  </a>
  <h1>Procedimentos do Salão</h1>

  <div class="procedure-category">
    <h2>Sobrancelhas</h2>
    <div class="procedure">
      <p>
        Design Simples
        <br />
        Henna
        <br />
        Coloração
        <br />
        Brow Lamination
        <br />
        Shadow
        <br />
        Fio a Fio Realista
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Extensão de Cílios</h2>
    <div class="procedure">
      <p>
        Coloração de Cílios
        <br />
        Lash Lifting
        <br />
        Volume Fast
        <br />
        Volume Brasileiro
        <br />
        Efeito Molhado
        <br />
        Volume Hibrido
        <br />
        Volume Egípcio
        <br />
        Volume Hibrido
        <br />
        Volume Russo
        <br />
        Mega Volume
        <br />
        Tecnica de 30 dias
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Cabelos</h2>
    <div class="procedure">
      <p>
        Hidratação
        <br />
        Escova
        <br />
        Progressiva
        <br />
        Progressiva sem formol
        <br />
        Semi-Definitiva
        <br />
        Escova Marroquina
        <br />
        Botox
        <br />
        Reconstrução
        <br />
        Nutrição
        <br />
        Cronograma Capilar
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Unhas</h2>
    <div class="procedure">
      <p>
        Manicure e Pedicure
        <br />
        Fibra de Vidro
        <br />
        Reposição de Fibra
        <br />
        Banho de Gel
        <br />
        Gel na Tips
        <br />
        Blindagem
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Facial</h2>
    <div class="procedure">
      <p>
        Dermaplaning + Revitalização Facial
        <br />
        BB Glow
        <br />
        Camuflagem de Olheiras
        <br />
        Tratamento de Manchas
        <br />
        Baby Blush
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Labial</h2>
    <div class="procedure">
      <p>
        Micropigmentação Labial
        <br />
        Revitalização Labial
        <br />
        Hydra Gloss Lips
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Depilação</h2>
    <div class="procedure">
      <p>
        Axicilas
        <br />
        Buço na linha
        <br />
        Buço na Cera
        <br />
        Meia perna
        <br />
        Perna inteira
        <br />
        Nariz
        <br />
        Braço
        <br />
        Queixo na linha
        <br />
        Queixo na Cera
        <br />
        Depilação Facial com Linha
        <br />
        Hydra Gloss Lips
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Mega Hair</h2>
    <div class="procedure">
      <p>
        Ponto Americano
        <br />
        Fita adesiva
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Micro Tattoo</h2>
    <div class="procedure">
      <p>Em Aperfeiçoamento</p>
    </div>
  </div>

  <div class="back-to-home">
    <a href="/home" class="button">
      <i class="fas fa-arrow-left"></i> Voltar para a Home
    </a>
  </div>
</div>
<app-footer></app-footer>
