<app-header></app-header>
<div class="container">
  <a href="/" class="back-link">
    <img src="../../../assets/images/setaa2.png" alt="Seta para voltar" />
  </a>
  <h1>Procedimentos do Salão</h1>

  <div class="procedure-category">
    <h2>Sobrancelhas</h2>
    <div class="procedure">
      <p>
        Design Simples
        <br />
        Henna
        <br />
        Coloração
        <br />
        Brow Lamination
        <br />
        Micropigmentação
        <br />
        Fio a Fio Realista
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Extensão de Cílios</h2>
    <div class="procedure">
      <p>
        Fio a Fio
        <br />
        Volume Hibrido
        <br />
        Volume Brasileiro
        <br />
        Volume Russo
        <br />
        Mega Volume
        <br />
      </p>
    </div>
  </div>

  <div class="procedure-category">
    <h2>Cabelos</h2>
    <div class="procedure">
      <p>
        Progressiva
        <br />
        Botox
        <br />
        Definitiva
        <br />
        Rerconstrução
        <br />
        Hidratação
        <br />
        Nutrição
      </p>
    </div>
    <!-- Adicione mais procedimentos de cabelos conforme necessário -->
  </div>

  <div class="procedure-category">
    <h2>Unhas</h2>
    <div class="procedure">
      <p>
        Manicure e Pedicure
        <br />
        Fibra de Vidro
        <br />
        Reposição de Fibra
        <br />
        Banho de Gel
        <br />
        Gel na Tips
        <br />
        Blindagem
      </p>
    </div>
    <!-- Adicione mais procedimentos de unhas conforme necessário -->
  </div>

  <div class="procedure-category">
    <h2>Pele</h2>
    <div class="procedure">
      <p>
        Dermaplaning
        <br />
        BB Glow
      </p>
    </div>
    <!-- Adicione mais procedimentos de pele conforme necessário -->
  </div>

  <div class="procedure-category">
    <h2>Boca</h2>
    <div class="procedure">
      <p>
        Micropigmentação Labial
        <br />
        Hydra Gloss Lips
      </p>
    </div>
    <!-- Adicione mais procedimentos de boca conforme necessário -->
  </div>

  <div class="back-to-home">
    <a href="/home" class="button">
      <i class="fas fa-arrow-left"></i> Voltar para a Home
    </a>
  </div>
</div>
<app-footer></app-footer>
