<header class="header">
  <img
    class="header__img"
    style="border-radius: 50%"
    src="../../../assets/images/naty.png"
    alt=""
  />

  <ul class="header__list">
    <li class="header__list__item" style="font-size: 25px; margin-top: 10px">
      Naty Vitor
      <br />
      Lash Designer & Instrutora
    </li>
    <!-- <li class="header__list__item">CEO <a href="#">_natyVitor</a></li> -->
    <li style="color: white; font-size: 18px" class="header__list__item">
      Especialista em Extensão de Cílios
      <br />
      Micropigmentação e designer de sobrancelhas
      <br />
      <!-- Transformando olhares com cilíos
      <br />
      naturais e técnicas avançadas. -->
    </li>
    <!-- <li class="header__list__item">
      Te ensino a faturar alto com Extensão de Cílios
    </li> -->
  </ul>
</header>
