.header {
  // background: linear-gradient(to bottom, #ffffff, #eac9d0);

  // background-image: url("../../../assets/images/nati.png");
  background-position: bottom left; /* Posiciona a imagem no canto inferior esquerdo */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-size: 25%; /* Define o tamanho da imagem como metade do seu tamanho original */
  background-color: #121212;
  color: #f471c1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 40px;
  // border-bottom: 1px solid black;

  &__img {
    max-width: 150px;
    max-height: 150px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      max-width: 200px;
      max-height: 200px;
    }
  }

  ul {
    margin-top: 10px;
  }
}

/* Ajustes para iPad */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Estilos para o footer */
// footer {
//   background-color: #333;
//   color: #fff;
//   padding: 20px 0;
//   text-align: center;
// }
