<a href="/" class="back-link">
  <img src="../../../assets/images/setaa2.png" alt="Seta para voltar" />
</a>
<div class="container">
  <h1>Cursos Presenciais</h1>

  <div class="course-carousel">
    <div class="course">
      <div class="course-img">
        <img src="../../../assets/images/naty.png" alt="Curso 1" />
      </div>
      <div class="course-details">
        <h2>Extensão de Cílios</h2>
        <p>
          <br />
          2 dias de curso presencial
          <br />
          Podendo acrescentar mais dias, dependendo da dificuldade da aluna (o).
          <br />Máximo de 2 alunas para melhor compreensão e atenção exclusiva.
          <br />Aplicação em curvatura, espessura e tamanho dos fios. Correção
          de olhar. <br />Ficha de avaliação, Cuidados pós extensão e remoção
          dos Cílios. <br />
          Lista de fornecedores
          <br />
          Certificado.
          <br />
          Prática em modelos reais
          <br />- 2 modelos por aluna.
        </p>
        <p><strong>Local:</strong> Espaço Naty Vitor & Fani Germano</p>
        <a
          href="https://api.whatsapp.com/send?phone=5511965451841&text=Ol%C3%A1%2C%20tenho%20interesse!%20Pode%20me%20ajudar%3F"
          class="button"
          >Inscreva-se</a
        >
      </div>
    </div>

    <div class="course">
      <div class="course-img">
        <img src="../../../assets/images/nati.png" alt="Curso 2" />
      </div>
      <div class="course-details">
        <h2>Dermaplaning</h2>
        <p>
          <br />
          Carga horária de 6 horas de curso presencial
          <br />
          2 alunas para melhor compreensão e atenção exclusiva.
          <br />
          Apostila teórica Certificado de conclusão emoldurado
          <br />
          Prática em Modelos
          <br />
          Material Incluso, exceto kit de limpeza
        </p>
        <p><strong>Local:</strong> Espaço Naty Vitor & Fani Germano</p>
        <a
          href="https://api.whatsapp.com/send?phone=5511965451841&text=Ol%C3%A1%2C%20tenho%20interesse!%20Pode%20me%20ajudar%3F"
          class="button"
          >Inscreva-se</a
        >
      </div>
    </div>

    <div class="course">
      <div class="course-img">
        <img src="../../../assets/images/naty3.png" alt="Curso 3" />
      </div>
      <div class="course-details">
        <h2>BB GLOW</h2>
        <p>
          <br />
          Carga horária de 6 horas de curso presencial
          <br />
          2 alunas para melhor compreensão e atenção exclusiva.
          <br />
          Apostila teórica Certificado de conclusão emoldurado
          <br />
          Prática em Modelos
          <br />
          Material Incluso, exceto kit de limpeza
        </p>
        <p><strong>Local:</strong> Espaço Naty Vitor & Fani Germano</p>
        <a
          href="https://api.whatsapp.com/send?phone=5511965451841&text=Ol%C3%A1%2C%20tenho%20interesse!%20Pode%20me%20ajudar%3F"
          class="button"
          >Inscreva-se</a
        >
      </div>
    </div>

    <div class="course">
      <div class="course-img">
        <img
          style="max-height: 394px"
          src="../../../assets/images/naty.png"
          alt="Curso 4"
        />
      </div>
      <div class="course-details">
        <h2>Brow Lamination & Lash Lifting</h2>
        <p>
          <br />
          Carga horária de 6 horas de curso presencial
          <br />
          2 alunas para melhor compreensão e atenção exclusiva.
          <br />
          Apostila teórica Certificado de conclusão emoldurado
          <br />
          Prática em Modelos
          <br />
          Material Incluso, exceto kit de limpeza
        </p>
        <p><strong>Local:</strong> Espaço Naty Vitor & Fani Germano</p>
        <a
          href="https://api.whatsapp.com/send?phone=5511965451841&text=Ol%C3%A1%2C%20tenho%20interesse!%20Pode%20me%20ajudar%3F"
          class="button"
          >Inscreva-se</a
        >
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
