<!-- project-info.component.html -->
<div class="container">
  <!-- Banner -->
  <header class="banner">
    <h1>Construindo uma Lash</h1>
    <p>Transformando Vidas Através da Extensão de Cílios</p>
  </header>

  <!-- Description -->
  <section class="description">
    <h2><b>Sobre o Projeto</b></h2>
    <p>
      Com mais de 10 anos de experiência na área da beleza, compreendo o poder
      transformador que um procedimento estético pode ter na vida de uma pessoa.
      Foi com essa visão que criei o projeto
      <b>Construindo uma Lash</b>.<br />
      Nosso objetivo é oferecer cursos gratuitos de extensão de cílios para
      mulheres que realmente precisam e não têm condições de arcar com os custos
      de uma formação profissional.

      <br />
      <br />
      O projeto funcionará da seguinte forma: divulgaremos o "<b
        >Construindo uma Lash</b
      >" em nossas redes sociais, detalhando a iniciativa e seu potencial
      transformador. <br />
      As interessadas em participar deverão comentar nos posts relacionados ao
      projeto e enviar uma mensagem direta, contando sua história de vida e
      explicando por que desejam aprender a técnica de extensão de cílios.
      <br />
      <br />
      Cada história será analisada cuidadosamente, e selecionaremos uma mulher
      para receber o curso gratuito. <br />A escolhida terá a oportunidade de
      aprender tudo sobre extensão de cílios, adquirindo uma nova habilidade que
      pode abrir portas para uma carreira promissora e proporcionar
      independência financeira.
      <br />
      <br />
      Estou animada para compartilhar essa iniciativa e espero que muitas
      pessoas se juntem a nós nessa missão de empoderar e transformar vidas.
    </p>
  </section>

  <!-- Instagram Info -->
  <section class="instagram-info">
    <h1><b>Como Participar</b></h1>
    <br />
    <p>Para participar, siga as instruções abaixo:</p>
    <br />
    <ul>
      <li>
        1. Siga nosso perfil no Instagram:
        <a
          class="insta"
          href="https://www.instagram.com/_natyvitor"
          target="_blank"
          >&#64;_natyvitor</a
        >.
      </li>
      <br />

      <li>2. Fique atento às nossas postagens sobre o projeto.</li>
      <br />
      <li>
        3. Comente nas postagens relacionadas ao projeto e envie uma mensagem
        direta com sua história e motivos para participar.
      </li>
    </ul>
    <br />
    <br />
  </section>
</div>
<app-footer></app-footer>
