<div class="conteudo">
  <div class="card">
    <div class="card-img">
      <img src="../../../assets/images/CiliosTB.png" alt="Imagem do Card" />
    </div>
  </div>

  <div class="card">
    <div class="card-img">
      <img src="../../../assets/images/sobrancelhas.jpg" alt="Imagem do Card" />
    </div>
  </div>

  <div class="card">
    <div class="card-img">
      <img src="../../../assets/images/escovas.jpg" alt="Imagem do Card" />
    </div>
  </div>

  <div class="card">
    <div class="card-img">
      <img src="../../../assets/images/labial.jpg" alt="Imagem do Card" />
    </div>
  </div>
</div>
