<div class="conteudo">
  <div class="card">
    <a
      href="https://api.whatsapp.com/send?
phone=5511965451841&text=Ol%C3%A1%2C%20tenho%20interesse!%20Pode%20me%20ajudar%3F"
    >
      <div class="card-img card2">
        <div class="card-text">
          <p>
            Atendimento

            <br />Naty Vitor
          </p>
        </div>
        <img
          style="width: 35%; margin-top: -10px"
          src="../../../assets/images/naty.png"
          alt="Imagem do Card"
        /></div
    ></a>
  </div>

  <div class="card">
    <a href="/procedimentos">
      <div class="card-img">
        <img
          style="width: 40%"
          src="../../../assets/images/nati.png"
          alt="Imagem do Card"
        />
        <div class="card-text">
          <p style="margin-right: 10px">Procedimentos</p>
        </div>
      </div>
    </a>
  </div>

  <div class="card">
    <a href="https://wa.me/c/5511965451841">
      <div class="card-img card2">
        <div class="card-text">
          <p>
            Tabela de preços <br />
            (Procedimentos)
          </p>
        </div>
        <img
          style="width: 40%"
          src="../../../assets/images/naty.png"
          alt="Imagem do Card"
        />
      </div>
    </a>
  </div>

  <div class="card">
    <a href="/cursos">
      <div class="card-img">
        <img
          style="width: 35%; margin-top: -10px"
          src="../../../assets/images/nati.png"
          alt="Imagem do Card"
        />
        <div class="card-text">
          <p>
            Cursos
            <br />
            presenciais
          </p>
        </div>
      </div>
    </a>
  </div>

  <div class="card">
    <a href="/lash">
      <div class="card-img card2">
        <div class="card-text">
          <p>Criando uma lash</p>
        </div>
        <img
          style="width: 40%"
          src="../../../assets/images/naty.png"
          alt="Imagem do Card"
        />
      </div>
    </a>
  </div>

  <div class="card">
    <a href="/sobremim">
      <div class="card-img">
        <img
          style="width: 35%; margin-top: -10px"
          src="../../../assets/images/nati.png"
          alt="Imagem do Card"
        />
        <div class="card-text">
          <p>Sobre Mim</p>
        </div>
      </div>
    </a>
  </div>
</div>
