<div class="container">
  <a href="/" class="back-link">
    <img src="../../../assets/images/setaa.png" alt="Seta para voltar" />
  </a>
  <div class="content">
    <img
      src="../../../assets/images/naty.png"
      alt="Minha Imagem"
      class="profile-image"
    />
    <h2>Olá, eu sou a Naty Vitor</h2>
    <p>
      Sou especialista em lash design, extensão de cílios, micropigmentação
      (sobrancelhas, lábios e olhos), progressiva e definitiva marroquina, e BB
      glow.
    </p>
    <br />
    <h3>Habilidades</h3>
    <ul>
      <li>Lash design</li>
      <li>Extensão de cílios</li>
      <li>Micropigmentação (sobrancelhas, lábios e olhos)</li>
      <li>Progressiva e definitiva marroquina</li>
      <li>BB glow</li>
      <!-- Adicione outras habilidades conforme necessário -->
    </ul>
    <br />
    <h3>Missão Profissional</h3>
    <p>
      Minha missão é proporcionar serviços de beleza e estética de alta
      qualidade, personalizados e seguros. Busco sempre superar as expectativas
      dos meus clientes, oferecendo tratamentos que realcem a beleza natural de
      cada pessoa de maneira única e especial.
    </p>
    <br />
    <h3>Valores</h3>
    <ul>
      <li>Compromisso com a excelência</li>
      <li>Ética e profissionalismo em todos os serviços</li>
      <li>Inovação constante para acompanhar as tendências</li>
      <li>Respeito à saúde e bem-estar dos clientes</li>
      <li>Empatia e atenção aos detalhes</li>
    </ul>
    <br />
    <h3>Visão</h3>
    <p>
      Viso ser reconhecida como uma profissional de referência na área de lash
      design, extensão de cílios, micropigmentação e outros serviços estéticos,
      contribuindo para a autoestima e o bem-estar dos meus clientes.
    </p>
  </div>
</div>
<app-footer></app-footer>
